.edit-table-modal {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1100 !important;
  align-items: center;

  .edit-table-modal-content {
    height: 50%;
    width: 50%;
    max-width: 500px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f5f5f5;

    .edit-table-modal-header {
      height: 15%;
      display: flex;
      align-items: center;
      padding: 0 3rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      h1 {
        font-size: 20px;
        font-weight: 400;
        padding: 0 1rem;
      }
    }

    .edit-table-modal-body {
      height: 65%;
      display: flex;
      flex-direction: column;
      padding: 0 3rem;

      .edit-table-modal-body-1 {
        display: flex;
        justify-content: space-between;
        padding: 2rem 0;
        width: 100%;

        .edit-table-modal-body-input-name {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          width: 70%;
        }

        .edit-table-modal-body-input-number {
          display: flex;
          align-items: flex-start;
          flex-direction: column;
          width: 25%;

          & > * {
            margin-left: 0 !important;
          }
        }

        .edit-table-input-name {
          width: 100% !important;
        }

        .edit-table-input-number {
          width: 100% !important;
          margin-left: 2rem;
        }

        p {
          font-size: 12px;
          color: red;
        }
      }

      .edit-table-modal-body-2 {
        flex: 1;
      }

      .edit-table-modal-body-3 {
        flex: 2;
        display: flex;
        flex-direction: column;

        .edit-table-modal-body-3-1 {
          input {
            margin: auto 1rem;
            width: 15px;
            height: 15px;
          }

          flex: 1;
          display: flex;
          align-items: center;
        }

        .edit-table-modal-body-3-2 {
          input {
            margin: auto 1rem;
            width: 15px;
            height: 15px;
          }

          flex: 1;
          display: flex;
          align-items: center;
        }
      }
    }

    .edit-table-modal-actions {
      height: 20%;
      padding: 0 8rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

input {
  position: static !important;
  opacity: 1 !important;
}

[type="checkbox"]:not(.filled-in) + label:after {
  transform: none !important;
  -webkit-transform: none !important;
}

#inputTags i {
  display: none !important;
}
